.App {
    display: flex;
    flex-direction: row;
    font-family: Inter, sans-serif;
    flex: 1;
}

.side-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    padding: 2rem 1rem;
    border-right: 1px solid hsla(0,0%,100%,.1);
    height: 100%;
}

.title {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 20px;
    font-weight: bold;
}

.anchors {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.anchor-github {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 8px;
    background-color: var(--base-white);
    font-size: 1.25rem;
    font-weight: 900;
    line-height: 1.3rem;
    margin: 0 0.5rem;
    transition: box-shadow 0.5s ease-in-out;
}

.anchor-github:hover {
    box-shadow: 0 0 0 2px var(--base-white), 0 0 0 4px var(--base-black);
}

.anchor-linkedin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 8px;
    background-color: var(--base-blue);
    font-size: 1.25rem;
    font-weight: 900;
    line-height: 1.25rem;
    margin: 0 0.5rem;
    transition: box-shadow 0.5s ease-in-out;
}

.anchor-linkedin:hover {
    box-shadow: 0 0 0 2px var(--base-blue), 0 0 0 4px var(--base-black);
}

.icon-github {
    width: 2rem;
    height: 2rem;
    font-weight: 900;
    line-height: 1.25rem;
    margin: 0 0.5rem;
}

.icon-linkedin {
    width: 2rem;
    height: 2rem;
    font-weight: 900;
    line-height: 1.25rem;
    margin: 0 0.5rem;
}

.icon-stack {
    width: 2rem;
    height: 2rem;
    font-weight: 900;
    line-height: 1.25rem;
    margin: 0 0.5rem;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 3rem 1rem;
    background-color: var(--base-white);
    border-radius: 1.5rem;
}

.form-title {
    font-size: 1rem;
    font-weight: bold;
    line-height: 2.5rem;
    text-align: center;
    color: var(--base-black);
}

.triangle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3.5rem;
    padding: 0 1rem;
    border-top: 1px solid hsla(0,0%,100%,.1);
}

.stack {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-label {
    font-weight: bold;
}

@media (max-width: 768px) {
    .App {
        display: flex;
        flex-direction: column;
        font-family: Inter, sans-serif;
        flex: 0;
    }

    .side-panel {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2rem 1rem;
        border-right: 0;
        border-bottom: 1px solid hsla(0,0%,100%,.1);
        width: 100%;
    }
    
    .title {
        writing-mode: initial;
        text-orientation: upright;
        font-size: 20px;
        font-weight: bold;
    }
    
    .anchors {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 2rem;
    }

    .form-container {
        padding: 1rem 1rem;
        background-color: var(--base-white);
        border-radius: 1.5rem;
    }

    .triangle-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5rem;
    }
  }